/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
*{box-sizing: border-box;}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #1B1B21;
  font-family: 'Halant', serif;
}
body {
  color: #545051;
  font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}



.selector-for-some-widget {
  box-sizing: content-box;
}
a:hover { text-decoration: none }

button:focus {
	outline: 0;
	outline: 5px auto -webkit-focus-ring-color;
}

/*header-area-start*/

.header-area {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.header-fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo a img {
  max-width: 50%;
}
.header-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-menu ul li {
  display: inline-block;
  margin: 0 10px;
}
.header-menu li a {
  color: #4A455D;
  font-size: 18px;
}
.header-menu li a:hover {
  color: #D64C30;

}
.theme-btn {
  background: transparent;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #100A28;
  border: 1px solid #D75136;
  transition: .3s;
}
.theme-btn:hover{
  background: #D64C30;
  color: #fff;
}
/*header-area-end*/

/* banner-area */
.banner-area{
  margin-bottom: 200px;
}
.banner-img img {
	width: 100%;
  height: 100vh;
}
.banner-content{
  background: #D64C30;
  width: 700px;
  padding: 36px 33px;
  float: right;
  margin-top: -94px;
  /*! z-index: 1; */
  position: relative;
}
.banner-content h2 {
	color: #fff;
}
.banner-content p{
	color: #fff;
}
/* blog-area */
.img-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}
.cards{
  display: flex;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}
.single-card {
	background: #4A445C;

}
.card-content {
	text-align: center;
  
}
.long-card-img{
  height: 222px;
}
.long-card-content {
	text-align: center;
  padding: 0 20px;
}
.long-card{
 height: 550px;
 width: 250px;
 
}

/* post-area */
.post-area{
  background:#FEF0E7;
}
.post-img img {
	width: 100%;
}
.post-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem;
  margin-bottom: 140px;
}
.single-post {
	background: #fff;
}
.post-content {
	padding: 30px;
}
.post-content h2 {
	color: #D64C30;
}
.post-content p {
	color: #100A28;
}

/* footer-area */
.footer-details{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.footer{
  background: #D64C30;
}
.footer-img img {
	width: 20%;
	margin-top: 25px;
	margin-bottom: 20px;
}
.footer-content h2 {
	color: #fff;
	margin-bottom: 9px;
}
.footer-content p {
	color: #fff;
}
.footer-menu ul li {
	list-style: none;
	display: inline-block;
}
.footer-menu ul li a {
	color: #fff;
	padding: 11px;
}
.footer-menu ul li a:hover{
	color:#4A445C
}
.footer-mail{
  background: #4A445C;
  position: relative;
  z-index: 1;
  margin-top: -70px;
  padding: 85px;
  padding-bottom: 10px;
}
.footer-mail h2 {
	color: #fff;
	margin-top: 17px;
}
.f-icon i {
	color: #fff;
	padding: 10px;
	font-size: 18px;
}
.footer-menu {
	margin-bottom: 65px;
	margin-left: -52px;
}

.box-1{
	border: none;
	padding: 10px;
}
.btn {
	margin-top: 20px;
	margin-bottom: 18px;
	background: #FFCEB0;
}
.footer-mail p {
	color: #fff;
}




