/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
*{box-sizing: border-box;}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #1B1B21;
  font-family: 'Halant', serif;
}
body {
  color: #545051;
  font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}



.selector-for-some-widget {
  box-sizing: content-box;
}
a:hover { text-decoration: none }

button:focus {
	outline: 0;
	outline: 5px auto -webkit-focus-ring-color;
}

/*header-area-start*/

.header-area {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}
.header-fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo a img {
  max-width: 62px;
}
.header-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-menu ul li {
  display: inline-block;
  margin: 0 10px;
}
.header-menu li a {
  color: #ffff;
}
.theme-btn {
  background: #EF476F;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
/*header-area-end*/



















